:root{
  --iframe-font-size: 15px;
  --iframe-font-family: 'Proza Libre';
  --iframe-font-color : rgba(0, 0, 0, 0.904);
}

body{
  margin: 0px;
  font-family: 'Proza Libre';
  -ms-overflow-style: none;
}




.main_menu {          /*메인 메뉴*/
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  padding: 12px;
}
.main_menu a {
  color: #0c0b0bd0;
}

.left {
  display: flex;
  padding-bottom: 0;
  justify-content: space-between;
  padding-left: 10px;
}
.text{
  display: inline;
  color: black;
  letter-spacing : -0.5px;
  font-size: 18px;
  font-weight: 600;
  font-family: 'Oswald';
}

.text1{
  font-size: 11px;
  display: inline;
  vertical-align: top;
  color: rgba(0, 0, 0, 0.438);
  font-weight: 600;
}

.fab {
  color: red;
  font-size: 23px;
  margin-left: 30px;
}

.right {
  display: flex;
  justify-content: space-between;
  width: 14%;
  padding-right: 30px;
}

.right a {
  color: rgba(12, 11, 11, 0.815);
}

.fa-user-circle {
  font-size: 30px;
  color: rgba(0, 0, 255, 0.767);
}

.search {
  border-radius: 3px;
  border: solid 0.1px rgba(0, 0, 0, 0.158);
  background-color: rgba(0, 0, 0, 0.041);
  font-size: 14px;
   height: 27px;
}

.search input{
  border: solid 0.1px rgba(0, 0, 0, 0.158);
  width: 550px;
  height: 23px;
}

.fa-search {
  color: rgba(0, 0, 0, 0.438);
  padding-left: 23px;
  padding-right: 23px;
  text-align: center;
}




.sub_menu{            /*좌측 메뉴*/
  margin;
  width: 235px;
  font-size: 14px;
  margin: 0;
  height: 600px ;
  overflow-y: scroll;
}

.sub_menu i {
  font-size: 18px;
}

.sub_menu a {
  text-decoration: none;
}

.sub_menu li {
  margin: 0px;
  list-style: none;
  padding: 11px;
  padding-left: 30px;
  color: rgba(0, 0, 0, 0.911);
}

.sub_menu ul{
  margin: 0;
  padding: 0px;
  border-bottom: solid rgba(0, 0, 0, 0.13) 1px;
}

.sub_menu i {
  margin-right: 30px;
  color: rgba(0, 0, 0, 0.685);
}


.sub_menu li:hover {
  background-color: rgba(107, 102, 102, 0.082); 
}

.list_3 .a:hover {
  background-color:white;
}
.list_5 p{ 
  font-size: 13px;
}





.grid{
  display:grid;    
  grid-template-columns: 0.2fr 1fr;
}

.content{         /*동영상 내용*/
  padding: 15px;
  margin: 0px;
  background-color: rgba(249, 249, 249);
  height: 580px ;
  width: auto;
  overflow-y: scroll;
}

.content a{
  text-decoration: none;
  color:var(--iframe-font-color);
  font-weight: 600;
}

.content_cf_2 p{
  margin: 0px;
  font-style: oblique;
}

.content_cf_2 i{
  margin-left : 10px;
  margin-right : 10px;
}

.content_1, 
.content_2,
.content_3{
  border-bottom: rgba(226,226, 226) solid 7px;
  padding: 10px;
}


.content_1 div, 
.content_2 div,
.content_3 div{
  font-size:var(--iframe-font-size);
  font-family:var(--iframe-font-family);
  color:var(--iframe-font-color);
  letter-spacing : -1px;
  text-align: center;	
}


.content_cf {
  display:grid;                       
  grid-template-columns: 1fr 1fr;
  width: 1077;
  height: 230px;
}

.content_cf div{
  height: 210px;
  margin-left: 8px;
  margin-right: 8px;
  margin-bottom: 20px;
}

.content_cf_1 {
  width:600px ;
}

.content_cf_2 div{
  margin: 0px;
  height: 50%;
}

.content_cf_2 p{
 text-align: center;
 font-size: 40px;
 padding-top: 50px;
 font-family: 'Russo One';
}

.content_cf_2_1{
  text-align: center;
  display:grid;            
  grid-template-columns: 1fr 1fr; 
}

.content_cf_2_1 div{
height: 100px;
margin-right: 10px;
}

.content_1{
  margin-top: 30px;
  display:grid;            
  grid-template-columns: 1fr 1fr 1fr 1fr; 
}

.content_1 div {
  width: 254px;
  height: 254px;
  margin-left: 8px;
  margin-right: 8px;
  margin-bottom: 40px;
}

.content_2menu {
  display: block;
  width: 1053;
  height: 24px;
  margin: 24px;
  margin-left: 8px;
  font-size: 22px;
  font-family: 'Oswald';
}

.content_2 {
  display:grid;                       
  grid-template-columns: 1fr 1fr 1fr;
  width: 1077px;

}

.content_2 div{
  width: 340px;
  height: 254px;
  margin-left: 8px;
  margin-right: 8px;
  margin-bottom: 40px;
}

.content_3{
  margin-top: 40px;
  display:grid;                       
  grid-template-columns: 1fr 1fr 1fr 1fr; 
}

.content_3 div {
  width: 254px;
  height: 254px;
  margin-left: 8px;
  margin-right: 8px;
  margin-bottom: 40px;
}

iframe {
  width: 254px;
  height: 190px;
}

.content_2 iframe, 
.content_cf_1 iframe,
.content_cf_2_1 iframe  {
  width: 100%;
  height: 100%;
}




@media screen and (max-width:1300px) { 
  .content_cf_2_1 iframe  {
    display: none;
  }
  .content_cf_2 p {
    display: none;
  }
  .search input{
    width: 200px;
  }

  .content_1,
  .content_3 {
    display:grid;    
    grid-template-columns: 1fr 1fr;
  }
  .content iframe{
   width: 380px;
  }
 .content div{
  width: 380px;
 }
}

@media screen and (max-width:700px) { 
  .sub_menu{
   display: none;
  }
  .content a{
    font-size: 20px;
  }

  .content{         /*동영상 내용*/
    position : absolute;
    padding: 0px;
    margin: 0px;
  }
  
  .content iframe {
    width: 100%;
    height: 200px;
  }
  
  .content div {
    margin-right: 10px;
    display: block;
    width: 100%;
 
}

.search input{
  width: 80px;
 
}

.right i{
 font-size: 15px;
}

}